.home-page-logged-out {
    // 74px = header height
    height: calc(100vh - 74px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    // Not display scrollbar for Edge/Firefox/Chrome/Safari/Opera
    scrollbar-width: none;
    &::-webskit-scroll {
        display: none;
    }

    > .home-page-logged-out__section:nth-child(2n) {
        flex-direction: row-reverse;
    }

    &__hero {
        scroll-snap-align: start;
    }

    &__section {
        height: 100vh;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        border: 1px solid black;
        padding: 0 8rem;
        scroll-snap-align: start;
    }
    
    &__img {
        width: 200px;
        height: 200px;
        background-color: red;
    }

    &__text {
        font-size: 3rem;
        width: 500px;
    }
}
