@use "../../../assets/styles/mixins" as m;
@import "../../../assets/styles/variables";

.password-input {
    display: flex;
    flex-direction: column;

    &__label {
        @include m.label-spacing;
    }

    &__field-container {
        position: relative;
    }

    &__field {
        @include m.text-input;
        width: 100%;
        padding-right: 2rem;
    }

    &__visibility-toggle-wrapper {
        @include m.absolute-center;
        left: auto;
        right: 4%;
        transform: translate(0%, -50%);
        cursor: pointer;
        border-radius: 50%;
        width: 20px;
        height: 20px;
    
        &:hover {
            background-color: $border-hover-color;
        }
    }

    &__visibility-toggle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}