@use "../../../assets/styles/mixins" as m;
@import "../../../assets/styles/variables";

.button {
    position: relative;
    cursor: pointer;

    &__main {
        width: 16rem;
        font-weight: bold;
        border-radius: 5rem;
        border: none;
        padding: .75rem 2.5rem;
        cursor: pointer;

        &--red {
            background-color: $red;
            color: white;
        }
    
        &--google {
            background-color: white;
            color: blue;
            border: 1px solid grey;
        }
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        @include m.absolute-center;

        &--pos-start {
            left:  10%;
        }

        &--pos-end  {
            left: 90%;
        }
    }
}