@import "../../../assets/styles/variables";

.button {
    width: 16rem;
    font-weight: bold;
    border-radius: 5rem;
    border: none;
    padding: .75rem;

    &--red {
        background-color: $red;
        color: white;
    }

    &--google {
        background-color: white;
    }
}