@import "../../../assets/styles/variables";

.button {
    width: 16rem;
    font-weight: bold;
    border-radius: 5rem;
    border: none;
    padding: .75rem;
    cursor: pointer;
    
    :hover {
        
    }

    &--red {
        background-color: $red;
        color: white;
    }

    &--google {
        background-color: white;
        color: blue;
        border: 1px solid grey;
    }
}