.footer {
    width: 60%;
    margin: 0 auto 0;
    background-color: white;

    &__list {
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-item {
            list-style: none;
        }
    }

    &__link {
        cursor: pointer;
    }
}
