.authentication-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    margin: 20rem auto;
    border: 1px solid black;
    padding: 1rem;
    width: 25rem;
}